/* Main Start*/
.site-start__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.site-start__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .site-start__img {
    display: none;
  }
}
.site-start__left {
	position: relative;
  padding: 0 15px;
	width: calc(100% - 330px);
}
@media (max-width: 991px) {
  .site-start__left {
    width: 100%;
  }
}
.site-start__left-img {
  position: absolute;
  margin: 130px 0 0 270px;
  z-index: 0;
  max-width: 525px;
}
@media (min-width: 767px) {
  .site-start__left-img {
    max-width: 425px;
  }
}
@media (max-width: 767px) {
  .site-start__left-img {
    display: none;
  }
}
.site-start__left-top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.site-start__top-post {
  width: 33.5%;
  padding-top: 100px;
  margin-left: -70px;
}
@media (max-width: 767px) {
  .site-start__top-post {
    width: 100%;
    padding-top: 0px;
  }
}
.img-circle {
	position: relative;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 29px 0 rgba(101,121,165,.2);
}
.site-start__top-post .img-circle {
	margin-top: 80px;
}
.img-circle__img {
  position: relative;
  top: -65px;	
}
.img-circle img {
  display: block;
  margin: auto;
  border-radius: 150px;
  border: 5px solid #fff;
}
.link-circle {
  display: block;
  margin-top: -65px;
  text-align: center;
  padding: 35px 25px;
  color: #000;
}
.link-circle h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}
.site-start__top-group {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-left: 50px;
	width: 67%;
}
.top-box {
  position: relative;
	z-index: 10;
	width: 60%;
	margin-left: -40px;
  margin-top: 30px;
	padding: 30px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 29px 0 rgba(101,121,165,.2);
}
.bottom-box {
  position: relative;
	z-index: 10;
	width: 60%;
	margin: 70px 0 0 auto;
	padding: 30px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 29px 0 rgba(101,121,165,.2);
}
.site-start__bottom-post {
	position: relative;
	z-index: 10;
  width: 30%;
  max-height: 130px;
  margin-left: 45px;
	padding: 30px;
  background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 29px 0 rgba(101,121,165,.2);
}
.link-box {
  margin: 0;
  display: block;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: #000 !important;
  text-align: center;
}
.btn-shine {
  background: linear-gradient(to right, #000 0, white 10%, #000 20%);
  background-clip: border-box;
  background-position: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
.img-square {
	width: 40%;
	max-width: 295px;
	overflow: hidden;
	position: relative;
	border-radius: 26px;
}
@media (max-width: 767px) {
  .site-start__top-group,
  .top-box,
  .bottom-box,
  .site-start__bottom-post,
  .img-square {
    width: 100%;
  }
  .site-start__top-post {
    margin-left: 0px;
  }
   .site-start__top-group {
    margin-left: 0px;
  }
  .top-box {
    margin-left: 0px;
  }
  .site-start__bottom-post {
    margin: 0;
  }
  .img-square {
    margin: 20px auto 0px auto;
  }
}
.img-square__img {
	position: relative;
}
.img-square__img img {
  display: block;
}
.link-square {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.link-square h3 {
  padding: 20px;
  font-size: max(0.875rem, min(1.25rem, calc(100vw*1.25/75)));
  font-weight: 600;
  margin: 0;
  line-height: 1.7;
}
.site-start__left-bottom {
  margin-top: 60px;
}
.site-start__bottom-group {
  width: 100%;
  padding-right: 50px;
}
.site-start__bottom-group .img-circle {
	margin-top: 10px;
}
.site-start__bottom-posts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 90px;
}
.site-start__counter-wrap {
  width: 17%;
  margin-top: -60px;
}
.counter__number {
	font-size: 100px;
	line-height: 82px;
	font-weight: 700;
  color: #E76413;
	margin-bottom: 15px;
}
.site-start__counter-wrap p {
  font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;	
}
.counter__link {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color9);
}
.site-start__post-6 {
  width: 32%;
}
.site-start__pro {
  width: 30%;
  margin-top: -155px;
  text-align: center;
}
@media (max-width: 767px) {
  .site-start__bottom-group,
  .site-start__bottom-posts,
  .site-start__counter-wrap,
  .site-start__post-6,
  .site-start__pro {
    width: 100%;
  }
  .site-start__bottom-group {
    padding-right: 0px;
  }
  .site-start__counter-wrap {
    margin: 50px 0;
    text-align: center;
  }
  .site-start__pro {
    margin: 20px 0;
  }
  .site-start__pro b {
    display: block;
    width: 100%;
  }
}
.site-start__right {
	flex: 0 0 330px;
	padding: 0 10px;
	margin: 0 auto;
}
.site-start__news,
.site-start__calc {
  border: 1px solid #eef1f5;
  margin: 10px;
  padding: 20px 30px;
  border-radius: 20px;
  max-height: 700px;
}

/* Main Posts*/
.site-post {
  margin-bottom: 50px;
}
.site-posts__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.site-posts__left {
  position: relative;
  width: calc(100% - 330px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
@media (max-width: 991px) {
  .site-posts__left {
    width: 100%;
  }
}
.site-building,
.site-polistirolbeton {
  padding: 0 15px;
  margin-bottom: 50px;
}
.site-building__post,
.site-polistirolbeton__post {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 10px;
  color: var(--color6);
  border: 1px solid #eef1f5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.site-polistirolbeton__post:hover,
.site-building__post:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.site-building__post img,
.site-polistirolbeton__post img {
  height: 210px;
  width: 35%;
  max-width: 300px;
  margin-right: 30px;
  padding-right: 10px;
  object-fit: cover; 
}
@media (max-width: 1350px) {
  .site-building,
  .site-polistirolbeton {   
    max-height: 800px;
  }
}
@media (max-width: 767px) {
  .site-building,
  .site-polistirolbeton {
    max-height: 1850px;
  }
  .site-building__post,
  .site-polistirolbeton__post {
    text-align: center;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .site-building__post img,
  .site-polistirolbeton__post img {
  width: 200px;
  display: block;
  margin: 20px auto;
  }
}
@media (min-width: 768px) {
  .site-building__post,
  .site-polistirolbeton__post  {
    height: 210px;
    border-left: none;
  }
  .site-building__post img,
  .site-polistirolbeton__post img {
    float: left;
  }
}
.site-polistirolbeton__cat,
.site-building__cat {
  display: inline-block;
  margin: 10px 0;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color4);
}
.site-polistirolbeton__cat {
  background-color: var(--color1);
}
.site-building__cat {
  background-color: var(--color2);
}
.site-polistirolbeton__title,
.site-building__title {
  font-size: 1.125rem;
  color: var(--color8);
}
.site-polistirolbeton__title:hover {
  color: var(--color1);
}
.site-building__title:hover {
  color: var(--color2);
}
.site-posts__right {
  flex: 0 0 330px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Main Info*/
.site-info {
  margin: 30px 0px;
}
.site-info__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.site-info__left {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.scheme {
	margin: 0 auto;
	position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.scheme__img {
  margin: 10px 0;
}
.scheme svg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 330px;
}
.scheme circle {
	fill: var(--color2);
  stroke: white;
  stroke-width: 2;
	cursor: pointer;
}
.scheme circle:hover, #hover {
	fill: #74adf7;
}
.scheme circle.active {
	fill: var(--color1) !important;
}
.scheme__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  height: auto;
}
.scheme__items li {
  position: relative;
  display: block;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}
.scheme__items li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color1);
  border-radius: 50%;
}
.scheme__items li.active {
	color: var(--color1);
}
.site-info__right {
  position: relative;
  margin: auto;
  width: 30%;
}
@media (max-width: 1230px) {
  .site-info__left {
    width: 100%;
    margin: 30px 10px;
  }
  .site-info__right {
    width: 100%;
    max-width: 450px;
  }
}
.faq__sign {
  position: absolute;
  top: 35%;
  font-size: 60px;
  color: var(--color2);
  z-index: 1;
  left: 10px;
  display: block;
}
.faq__sign::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 20%;
  width: 80px;
  height: 80px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color2);
  border-radius: 50%;
}
.faq__question {
  position: relative;
  margin: 20px;
  padding: 50px 30px 50px 80px;
  border-radius: 20px;
  background: var(--color10);
}
.faq__question a {
  margin-top: 10px;
}
.faq__title {
  position: absolute;
  left: 80px;
  top: -14px;
  background-color: var(--color2);
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  padding: 0 16px;
  border-radius: 50px;
}
.faq__question p {
  line-height: 1.5;
}
.faq__link {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color9);
}
/* Main House */
.site-house {
  margin-bottom: 50px;
}
.site-house__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.site-house__items {
  margin: 15px;
  display: flex;
  justify-content: center;
}
.site-house__left,
.site-house__right {
  width: 35%;
}
@media (max-width: 991px) {
  .site-house__items {
    flex-wrap: wrap;
  }
  .site-house__left,
  .site-house__right {
    width: 95%;
  }
}
.site-house__item {
  position: relative;
  padding: 15px;
  padding-left: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.site-house__item img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}
.site-house__item-title {
  margin-bottom: 8px;
}
.site-house__item-title span {
  color: var(--color2);
}
.site-house__item-link h3 {
  display: block;
  font-size: max(0.875rem, min(1.1875rem, calc(100vw*1.1875/75)));
  font-size: 19px;
  color: var(--color7);
  font-weight: 600;
  line-height: 1.2;
}
.site-house__item-title span {
  font-size: 14px;
  color: var(--color9);
}
/* Main Description*/
.site-description {
  margin-bottom: 50px;
}
.site-description__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.description-wrapper {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}
.site-description__left,
.site-description__right {
  width: 50%;
  padding: 0 25px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .description-wrapper {
    margin: 0px;
  }
  .site-description__left,
  .site-description__right {
    width: 95%;
    padding: 0 20px;
  }
}
.site-description__right a {
  color: var(--color9);
  display: block;
  position: relative;
  padding: 5px 25px;
}
.site-description__right a:hover {
  color: var(--color1);
}
.site-description__right a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color2);
  border-radius: 50%;
}
.site-description__right h3 {
  font-size: 17px;
  line-height: 1.7;
  font-weight: 400;
}